{% extends 'widgets/content.html' %}

{% block title %}{{ oper_type }}{% endblock %}

{% block onload %}
    /*
    blog_id = "{{blog_id}}"
    body = null
    if (blog_id != "None") {
        axios.get(
            "{{ url_for('api.blog', blog_id=blog_id) }}"
        ).then(resp => {
            $("#title").val(resp.data.blogs[0].title)
            body = resp.data.blogs[0].body
        }).catch (err => {
            alert(err)
            location.hrep = '/'
        })
    }*/
    console.log('onload')
    var editor = editormd("editor", {
        path : "../static/editor.md/lib/",
        placeholder: "开始精彩写作..."
    });
{% endblock %}

{% block content %}
<div class="d-flex row h-100">
    <input class="col-12 border-0 my-3 h3" type="input" id="title" placeholder="输入文章标题">
    <div id="editor">
        <textarea style="display:none;" id="body"></textarea>
    </div>
    <div class="w-100 fixed-bottom bg-info py-2">
        <button class="btn btn-danger float-end me-5" onclick='save_blog(blog_id="{{ blog_id }}")'>保存</button>
    </div>
</div>
{% endblock %}