{% extends 'widgets/content.html' %}

{% block title %}View{% endblock %}

{% block script %}
<script>
    function init() {
        jwt = sessionStorage.getItem('token')
        if (jwt) {
            axios.defaults.headers.common['Authorization'] = `Bearer ${jwt}`
        }
        axios.get(
            "{{ url_for('api.blog', blog_id=blog_id) }}"
        ).then(resp => {
            console.log(resp)
            blog = resp.data.blogs[0]
            if (blog.editable) {
                $("#edit").show()
            }
            $("#title").text(blog.title)
            //$("#body").text(blog.body)
            editormd.markdownToHTML("body", {markdown: blog.body})
            $("#like").text(`点赞(${blog.like})`)
            $("#star").text(`收藏(${blog.star})`)
            $("#meta").text(`${blog.author_name} 发表于 ${blog.created}`)
        })
    }

    init()

    $("#like").mouseover(function(){
        $(this).addClass('cursor', 'pointer')
    })

    function like() {
        console.log("like")
        axios.put(
            "{{ url_for('api.blog', blog_id=blog_id) }}",
            {like: 1}
        ).then(resp => {
            if (resp.data.code == 401) {
                alert('请先登录')
            }
            else if (resp.data.code != 0) {
                alert('点赞失败: ' + resp.data.message)
            } else {
                axios.get(
                    "{{ url_for('api.blog', blog_id=blog_id) }}"
                ).then(resp => {
                    $("#like").text(`点赞(${resp.data.blogs[0].like})`)
                })
            }
        })
    }
</script>
{% endblock %}

{% block content %}
<div class="d-flex border-bottom">
    <h1 class="h1 my-auto" id="title"></h1>
    <div>
        <ul class="navbar-nav after-title">
            <li><a class="nav-link p-0" href="#" id="like" onclick="like()">点赞(0)</a></li>
            <li><a class="nav-link p-0" style="color:gray">收藏(0)</a></li>
            <li><a class="nav-link p-0" style="color:gray">关注(0)</a></li>
        </ul>
    </div>
</div>
<div>
    <p class="text-secondary mt-2 bg-light" id="meta"></p>
</div>
<div id="body">
    <!-- Server-side output Markdown text -->
    <textarea style="display:none;">### Hello world!</textarea>             
</div>
<div class="w-100 fixed-bottom bg-info py-2 pe-5" id="edit" style="display: none">
    <button class="btn btn-danger float-end me-1" onclick='delete_blog(blog_id="{{ blog_id }}")'>删除</button>
    <button class="btn btn-success float-end me-1" onclick='edit_blog(blog_id="{{ blog_id }}")'>编辑</button>
</div>
{% endblock %}