{% extends 'widgets/content.html' %}

{% block title %}Index{% endblock %}

{% block script %}
<script>
    axios.get(
        "{{ url_for('api.blog') }}"
    ).then(resp => {
        for (b of resp.data.blogs) {
            $("#blog").append(`<div class="col-12 mb-1 border-top pt-1"><a class="h3" href=/blog/view/${b.id}>${b.title}</a>
                <p class="text-secondary text-sm"><small>by ${b.author_name} on ${b.created}</small></p></div>`)
        }
        $("#blog").append("<hr>")
    })
</script>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row" id="blog">
    </div>
</div>
{% endblock %}