{% extends 'widgets/content.html' %}

{% block title %}Index{% endblock %}

{% block script %}
<script>
    jwt = sessionStorage.getItem('token')
    if (jwt) {
        axios.defaults.headers.common['Authorization'] = `Bearer ${jwt}`
    }
    axios.get(
        "{{ url_for('api.blog') }}"
    ).then(resp => {
        for (b of resp.data.blogs) {
            $("#blog").append(
            `<div class="d-flex">
                <div class="col-12 mb-1 border-top pt-1">
                    <a class="h3" href=/blog/view/${b.id}>${b.title}</a>
                    <p class="text-secondary text-sm"><small>${b.author_name} 发表于 ${b.created}</small></p>
                </div>
            </div>`)
        }
        $("#blog").append("<hr>")
    })
</script>
{% endblock %}

{% block content %}
<div class="row" id="blog">
</div>
{% endblock %}