{% extends 'widgets/base.html' %}

{% block style %}
<style>
    html, body {
        height: 100%;
    }

    form {
        max-width: 300px;
        width: 100%;
    }
</style>
{% endblock %}

{% block script %}
<script>
    function login() {
        url = "{{ url_for('api.token') }}"
        username = $('#username').val()
        password = $('#password').val()
        info = null
        if (username.length < 4 || username.length > 20) {
            info = '用户名长度必须在4-20之间'
        }
        if (password.length < 6 || password.length > 20) {
            info = '密码长度必须在6-20之间'
        }
        if (info != null) {
            $("#alter").attr('class', 'text-warning')
            $("#alter").text(info)
            return
        }
        axios.post(
            url,
            {username, password}
        ).then(resp => {
            if (resp.data.code != 0) {
                $("#alter").attr('class', 'text-warning')
                $("#alter").text(resp.data.message)
            } else {
                $("#alter").attr('class', 'text-warning')
                $("#alter").text('登录成功，稍后跳转到首页')
                sessionStorage.setItem('token', resp.data.token)
                setTimeout(()=>{
                    location.href = "{{ url_for('index') }}"
                }, 1000)
            }
        })
    }
</script>
{% endblock %}

{% block title %} Login {% endblock %}

{% block body %}
<body class="d-flex justify-content-center align-items-center text-center bg-dark">
    <form>
        <div class="form-floating">
            <input class="form-control" id="username" type="input" placeholder="用户名">
            <label for="username">用户名</label>
        </div>
        <div class="form-floating">
            <input class="form-control mt-1" id="password" type="password" placeholder="密码">
            <label for="password">密码</label>
        </div>
        <button class="btn btn-primary w-100 my-1" type="button" onclick="login()">登录</button>
        <p id="alter"></p>
    </form>
</body>
{% endblock %}