<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %} - Blog</title>
        {% include 'widgets/link.html' %}
        {% block link %}{% endblock %}
        {% block link1 %}{% endblock %}
        {% block link2 %}{% endblock %}
        {% block link3 %}{% endblock %}
        {% block link4 %}{% endblock %}
        {% block link5 %}{% endblock %}
        {% block style %}{% endblock %}
        {% block style1 %}{% endblock %}
        {% block style2 %}{% endblock %}
        {% block style3 %}{% endblock %}
        {% block style4 %}{% endblock %}
        {% block style5 %}{% endblock %}
        {% block script0 %}{% endblock %}
        {% block script %}{% endblock %}
        {% block script1 %}{% endblock %}
        {% block script2 %}{% endblock %}
        {% block script3 %}{% endblock %}
        {% block script4 %}{% endblock %}
        {% block script5 %}{% endblock %}
    </head>
    {% block body %}{% endblock %}
</html>