{% extends 'widgets/base.html' %}

{% block script %}
<script>
    // sessionStorage:  https://blog.csdn.net/weixin_30613727/article/details/95240255
    $(function() {
        axios.defaults.headers.common['Authorization'] = `Bearer ${sessionStorage.getItem("token")}`
        token = sessionStorage.getItem('token')
        axios.get("{{ url_for('api.token') }}").then(resp => {
            $("#login").hide()
            $("#register").hide()
            $("#username").text(resp.data.username).show()
        }).catch(err => {
            logout_helper()
        })
    })
</script>
{% endblock %}

{% block body %}
<body>
    {% include 'widgets/nav.html' %}
    {% block content %} {% endblock %}
</body>
{% endblock %}