{% extends 'widgets/base.html' %}

{% block script0 %}
<script>
    // sessionStorage:  https://blog.csdn.net/weixin_30613727/article/details/95240255
    $(function() {
        jwt = sessionStorage.getItem('token')
        if (jwt) {
            axios.defaults.headers.common['Authorization'] = `Bearer ${jwt}`
            axios.get("{{ url_for('api.token') }}").then(resp => {
                $("#login").hide()
                $("#register").hide()
                $("#username").text(resp.data.username).show()
                $("#new").show()
            }).catch(err => {
                logout_helper()
            })
        } else {
            logout_helper()
        }
        {% block onload %} {% endblock %}
    })
</script>
{% endblock %}

{% block body %}
<body>
    {% include 'widgets/nav.html' %}
    <div class="container mt-3" style="height:100%">{% block content %} {% endblock %}</div>
</body>
{% endblock %}