{% extends 'widgets/base.html' %}

{% block body %}
<body>
    <div class="bg-dark text-white p-3 mb-1">
        <div class="d-flex">
            <ul class="nav me-auto">
                <li><a class="nav-link px-2 text-secondary" href="/">Index</a></li>
                <li><a class="nav-link px-2 text-info" href="#">About</a></li>
            </ul>
            <button class="btn btn-warning me-1">Logout</button>
            <p> username </p>
            <button class="btn btn-outline-light me-1" onclick="redirect_login()">Login</button>
            <button class="btn btn-warning" onclick="redirect_resiger()">Sign up</button>
        </div>
    </div>
    {% block content %} {% endblock %}
</body>
{% endblock %}