<div class="bg-dark text-white p-3 mb-1">
    <div class="d-flex">
        <ul class="nav me-auto">
            <li><a class="nav-link px-2 text-secondary" href="/">Index</a></li>
            <li><a class="nav-link px-2 text-info" href="#">About</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <button class="btn bbtn-warning me-1">Logout</button>
            <p> {{ current_user.username }} </p>
        {% else %}
            <button class="btn btn-outline-light me-1" onclick="redirect_login()">Login</button>
            <button class="btn btn-warning">Register</button>
        {% endif %}
    </div>
</div>